#option01 {
    -fx-border-color: rgb(255, 255, 255);
    -fx-border-width: 3px;
    -fx-border-radius: 2px;
    -fx-color: rgb(84, 238, 255);
}

#option02 {
    -fx-border-color: rgb(255, 255, 255);
    -fx-border-width: 3px;
    -fx-border-radius: 2px;
    -fx-color: rgb(84, 238, 255);
}

#option03 {
    -fx-border-color: rgb(255, 255, 255);
    -fx-border-width: 3px;
    -fx-border-radius: 2px;
    -fx-color:rgb(84, 238, 255);
}

#option01:hover {
    -fx-color: white;
}

#option02:hover {
    -fx-color: white;
}

#option03:hover {
    -fx-color: rgb(255, 255, 255);
}

#option04 {
    -fx-border-color: rgb(255, 255, 255);
    -fx-border-width: 3px;
    -fx-border-radius: 2px;
    -fx-color: rgb(84, 238, 255);
}

#option04:hover {
    -fx-color: rgb(255, 255, 255);
}

#plusRed{
    -fx-border-color: rgb(255, 255, 255);
    -fx-border-width: 2px;
    -fx-border-radius: 2px;
    -fx-color: rgb(255, 0, 0);
}

#plusRed:hover{
    -fx-color: rgb(255, 255, 255);
}

#lessRed{
    -fx-border-color: rgb(255, 255, 255);
    -fx-border-width: 2px;
    -fx-border-radius: 2px;
    -fx-color: rgb(255, 0, 0); 
}

#lessRed:hover{
    -fx-color: rgb(255, 255, 255);
}

#plusBlue{
    -fx-border-color: rgb(255, 255, 255);
    -fx-border-width: 2px;
    -fx-border-radius: 2px;
    -fx-color: rgb(0, 26, 255);
}

#plusBlue:hover{
    -fx-color: rgb(255, 255, 255);
}

#lessBlue{
    -fx-border-color: rgb(255, 255, 255);
    -fx-border-width: 2px;
    -fx-border-radius: 2px;
    -fx-color: rgb(0, 26, 255);
}

#lessBlue:hover{
    -fx-color: rgb(255, 255, 255);
}

#solutionsBox{
    -fx-border-color: rgb(255, 255, 255);
    -fx-border-width: 3px;
    -fx-border-radius: 2px;
    -fx-color: rgb(84, 238, 255);
}


